<?xml version="1.0"?>
<launch>

  <!--node name="slam_gmapping" pkg="gmapping" type="slam_gmapping">
    <remap from="scan" to="/scan"/>
    <param name="base_link" value="base_link"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser4"
    args="0.0 0.0 0.0 0.0 0.0  0.0 /base_footprint /base_link 10" /-->



  <!--node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 base_link laser_link 100" /--> <!--change laser -->
<!--<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" 
     args="0.1 0.0 0.0 0.0 0.0 0.0 base_link laser_link 100"/>-->
  <node pkg="gmapping" type="slam_gmapping" name="simple_gmapping" output="screen"> 
	<rosparam>
      odom_frame: odom
      base_frame: base_footprint
      map_frame: map

      map_update_interval: 0.5 #0.5 # Publish new map

      maxUrange: 10.0 #19.9 #5.5 # Should be just less than sensor range
      maxRange: 10.1 #20 #6.1 # Should be just greater than sensor range
      particles: 100 # Increased from 80

      # Update frequencies
      linearUpdate: 0.3
      angularUpdate: 0.5 #0.2 #0.5
      temporalUpdate: 2.0 #1.0 #2.0
      resampleThreshold: 0.5

      # Initial Map Size
      xmin: -100.0
      ymin: -100.0
      xmax: 100.0
      ymax: 100.0
      delta: 0.05

      # All default
      sigma: 0.05
      kernelSize: 1
      lstep: 0.05
      astep: 0.05
      iterations: 5
      lsigma: 0.075
      ogain: 3.0
      lskip: 0
      llsamplerange: 0.01
      llsamplestep: 0.01
      lasamplerange: 0.005
      lasamplestep: 0.005

    </rosparam>
 </node>

  <node name="rviz1" pkg="rviz" type="rviz" args="-d $(find scout_description)/rviz/mapping.rviz" />
<!--<include file="$(find scout_base)/launch/scout_base.launch">
      <arg name="port_name" default="can0" />
      <arg name="simulated_robot" default="false" />
  </include>-->

</launch>

